@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Satisfy', cursive;
}

p,
span {
  font-family: 'Itim', cursive;
}
.active-link {
  background-color: rgba(110, 89, 230, 0.747);
  border: white 1px solid;
  border-radius: 20px;
}
.active-link span {
  color: black;
}
a {
  text-decoration: none;
}
