@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
h1,
h2,
h3 {
  font-family: 'Satisfy', cursive;
}

p {
  font-family: 'Itim', cursive;
}
.active-link {
  background-color: aqua;
  /* padding: 0.5rem 1rem;
  margin: 0.1rem; */
  border: blue 1px solid;
  border-radius: 20px;
}
a {
  text-decoration: none;
}
